body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.landing-container {
    display: flex;
    align-items: center;
}

.info-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 50%;
}

.info-title {
    color: #333;
    margin-bottom: 10px;
}

.info-text {
    color: #666;
    margin-bottom: 20px;
}

.outside-buttons {
    margin-top: 20px;
}

.inside-btn {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.right-section {
    width: 60%;
}

.about-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.images-container img {
    width: 100px;
    margin-right: 10px;
}

.categories {
    display: flex;
    margin-bottom: 20px;
}

.category {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.hobbies-section {
    max-width: 600px;
}

.hobby {
    margin-bottom: 20px;
}

.learn-more {
    text-align: center;
}

.learn-more a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}
